body {
    background-color: white;
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
}

.register-form {
    max-width: 600px;
    margin: 30px auto;
    border: #49874E 3px solid ;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
    width: 100%;
    padding: 10px 20px;
    border: #49874E 2px solid;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 5px;
}

.role-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.role-selector button {
    padding: 10px 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px 30px 0 0;
    background-color: #ccc;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    background-color: #D994F4;
}

.role-selector .selected {
    background-color: #AA5FC7;
    color: white;
}

.files-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.files-container label {
    flex: 1;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.btn-register {
    background-color: #AA5FC7;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
}